@import "../../../sass/main.scss";

.category {
  width: 100%;
  height: 48px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  @extend %flex;
  &-list {
    margin: 0 auto;
    @extend %flex;
    &-item {
      margin-left: 24px;
      @extend %tagtext;
      cursor: pointer;
    }
  }
}

.border-animation {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.border-animation::before,
.border-animation::after {
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.border-animation::before {
  content: "";
}

.menu-border::before,
.menu-border::after {
  opacity: 0;
  transform-origin: 50% 0%;
  transform: translate3d(0, 3px, 0);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.menu-border:hover::before,
.menu-border:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.menu-border::after {
  content: "";
  top: calc(100% + 4px);
  width: 70%;
  left: 15%;
}

.menu-border::before,
.menu-border:hover::after {
  transition-delay: 0.1s;
}

.menu-border:hover::before {
  transition-delay: 0s;
}

.category-desktop {
  display: none;
  @include mq("desktop") {
    display: flex;
  }
}
.category-mobile {
  display: block;
  @include mq("desktop") {
    display: none;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 20px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px !important;
  width: 24px !important;
  top: 16px !important;
  right: 20px !important;
  span {
    top: 0px !important;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  width: 6px !important;
  height: 28px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
