@import "../../sass/main.scss";

.financeCard {
  @extend %flexvertical;
  align-items: flex-start;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: $boxshadow;
  padding: 24px;
  width: 100%;
  margin-top: 0px;
  position: relative;
  @include mq("tablet") {
    width: calc(50% - 15px);
  }
  @include mq("desktop") {
    width: calc(100%);
  }
  // 992 - 1280
  @media (min-width: 1080px) and (max-width: 1280px) {
    width: calc(50% - 15px);
  }
  @include mq("large") {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  &-profile {
    @extend %flex;
    &-photo {
      width: 42px;
      height: 42px;
      border-radius: $radius;
    }
    &-info {
      margin-left: 12px !important;
      @extend %flexvertical;
      align-items: flex-start;
      @include mq("tablet") {
        margin-left: 0px;
      }
      &-title {
        @extend %subtext1;
        color: $gray;
      }
      &-text {
        @extend %buttontext;
      }
    }
  }
  .financetitle {
    margin-left: 0px;
    @include mq("large") {
      margin-left: 42px;
    }
  }
  &-info {
    @extend %flexvertical;
    align-items: flex-start;
    margin-top: 12px;
    @include mq("large") {
      margin-top: 0px;
    }
    &-title {
      @extend %subtext1;
      color: $gray;
    }
    &-text {
      @extend %buttontext;
    }
  }
  &-price {
    @extend %subtitle;
    font-weight: 600;
    margin-left: 0px;
    margin-top: 12px;
    @include mq("large") {
      margin-left: 42px;
      margin-top: 0px;
    }
  }
  &-arrow {
    margin-left: auto;
    transition: margin-left 0.5s;
    cursor: pointer;
    border: 2px solid #000;
    padding: 4px;
    height: 36px;
    width: 36px;
    @extend %flexcenter;
    border-radius: $radius;
    position: absolute;
    right: 30px;
    transition: 0.5s right;
  }
  border: 2px solid transparent;
  transition: 0.5s border;
  &:hover {
    .financeCard-arrow {
      transition: 0.5s right;
      position: absolute;
      right: 16px;
    }
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    transition: 0.5s border;
  }
}
