@import "../../sass/main.scss";

.main {
  .container {
    .content {
      position: relative;
      .totalmoney {
        position: absolute;
        top: -20px;
        right: 0px;
        @extend %subtitle;
        font-weight: 600;
        border: 2px dashed $secondary;
        padding: 4px 16px;
        color: $secondary;
        background-color: #fff;
        @include mq("tablet") {
          top: 0px;
        }
      }
    }
    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      @media (min-width: 1050px) {
        flex-direction: row !important;
        flex-wrap: wrap !important;
      }

      @include mq("desktop") {
        flex-wrap: unset;
        flex-direction: column;
      }
      .financeCard {
        margin-top: -12px;
        @include mq("desktop") {
          margin-top: 24px;
        }
      }
    }
  }
}
