@import "../../sass/main.scss";
.fullWidthPage {
  .header {
    margin-bottom: 6px;
  }
  &-heading {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px;
    @extend %flexvertical;
    align-items: flex-start;
    box-shadow: $boxshadow;
    border-radius: $radius;
    gap: 16px;
    font-size: 16px;
    &-title {
      @extend %subtitle;
    }
    &-desc {
      @extend %text;
      width: 70%;
    }
  }
}
.requestContainer {
  width: 100%;
  @extend %flexvertical;
  gap: 30px;
  margin: 0 auto;
  padding: 24px;
  @include mq("mobile") {
    width: 100%;
  }
  @include mq("tablet") {
    width: 100%;
  }
  @include mq("desktop") {
    width: 820px;
  }
}
.requestCategory {
  &-list {
    width: 100%;
    background-color: #fff;
    padding: 24px;
    @extend %flexvertical;
    align-items: flex-start;
    box-shadow: $boxshadow;
    border-radius: $radius;
    @include mq("mobile") {
    }
    @include mq("tablet") {
      padding: 48px;
      padding-left: 80px;
      padding-right: 80px;
    }
    &-add {
      width: 100%;
      margin-bottom: 48px;
      @extend %flexvertical;
      align-items: flex-start;
      justify-content: space-between;
      background-color: $primary;
      border-radius: $radius;
      padding: 24px;
      &-heading {
        @extend %buttontext;
        color: #fff;
      }
      &-form {
        width: 100%;
        margin-top: 12px;
        @extend %flexvertical;
        align-items: flex-start;
        @include mq("tablet") {
          flex-direction: row;
          align-items: center;
        }
        input {
          width: 100%;
          margin-top: 0px;
          @include mq("tablet") {
            width: 90%;
          }
          @include mq("desktop") {
            width: 90%;
          }
        }
        button {
          background-color: $primary;
          border: 2px solid #fff;
          color: #fff;
          height: 48px;
          @extend %category;
          padding-left: 48px;
          padding-right: 48px;
          border-radius: $radius_small;
          cursor: pointer;
          transition: 0.2s;
          margin-top: 24px;
          width: 100%;
          @include mq("tablet") {
            margin-top: 0px;
            width: max-content;
          }
          &:hover {
            transition: 0.2s;
            background-color: #fff;
            color: $primary;
            border: 2px solid #fff;
          }
        }
      }
    }
    &-search {
      @extend %flex;
      width: 100%;
      justify-content: space-between;
      &-left {
        width: 250px;
        position: relative;
        svg {
          position: absolute;
          top: 12px;
          left: 10px;
          z-index: 999;
        }
        input {
          margin-top: 0px;
          width: 100%;
          padding-left: 36px;
          height: 40px;
        }
      }
      &-right {
        button {
          @extend %subtext1;
          width: max-content;
          padding: 0px 12px;
          background-color: $primary;
          color: #fff;
          border-radius: $radius;
          height: 40px;
          cursor: pointer;
          &:hover {
            background-color: $primary_dark;
          }
        }
      }
    }
    &-profession {
      @extend %flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 12px;
      margin-top: 30px;
      &-item {
        width: calc(50% - 6px);
        @extend %flex;
        svg {
          margin-right: 8px;
          margin-top: -2px;
          width: 6px;
          height: 6px;
          color: $gray;
        }
        @extend %tagtext;
      }
    }
  }
}
