@import "../../sass/main.scss";
.projectCardHorizontal {
  background-color: #fff;
  padding: 24px;
  @extend %flexvertical;
  align-items: flex-start;
  box-shadow: $boxshadow;
  border-radius: $radius;
  &-subheading {
    @extend %icontext;
    color: $gray;
  }
  &-heading {
    width: 100%;
    @extend %flex;
    &-title {
      @extend %title;
    }
    &-price {
      @extend %subtitle;
      font-weight: 600;
      margin-left: auto;
    }
  }
  &-desc {
    @extend %text;
    margin-top: 8px;
  }
  &-categories {
    margin-top: 16px;
    @extend %flex;
    &-item {
      @extend %icontext;
      &::after {
        content: "•";
        padding-left: 16px;
        padding-right: 16px;
      }
      &:last-child::after {
        content: "";
      }
    }
  }
  &-seperator {
    width: 100%;
    height: 1px;
    background-color: $softgray;
    margin-top: 16px;
  }
  &-profile {
    margin-top: 16px;
    width: 100%;
    @extend %flex;
    &-photo {
      width: 42px;
      height: 42px;
      border-radius: $radius;
    }
    &-username {
      @extend %category;
      margin-left: 12px;
    }
    &-rating {
      margin-left: 36px;
      @extend %flex;
      svg {
        color: $orange;
        margin-right: 8px;
      }
      @extend %buttontext;
      span {
        margin-left: 4px;
        @extend %icontext;
      }
    }
    &-time {
      margin-left: auto;
      @extend %flex;
      &-icon {
        width: 32px;
        height: 27px;
        svg {
          width: 32px;
          height: 27px;
          color: #000;
        }
      }
      &-date {
        @extend %buttontext;
        @extend %flex;
        margin-left: 12px;
      }
    }
  }
}
