@import "../../sass/main.scss";
.projectPage {
  .header {
    margin-bottom: 12px;
  }
  .container {
    flex-direction: column !important;
    @include mq("desktop") {
      flex-direction: row !important;
    }
    .content {
      .projectCard {
        margin-top: -12px;
      }
    }
    .sidebar {
      position: sticky;
      right: 0px;
      top: 24px;
    }
  }
}
.tabs {
  @extend %flex;
  &-item {
    padding: 8px 12px;
    @extend %icontext;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    &:hover {
      background-color: $hover1;
      border-bottom: 2px solid $hover1;
    }
  }

  .active {
    border-bottom: 2px solid black;
  }
}
