@import "../../sass/main.scss";

.addProjectCategoryItem {
  background-color: $softgray;
  width: calc(50% - 16px);
  height: 48px;
  @extend %flex;
  @extend %icontext;
  border: 1px solid $bordergray;
  cursor: pointer;
  border-radius: $radius;
  input[type="radio"] {
    display: none;
  }
}
.aktif {
  background-color: $primary;
  box-shadow: 0px 0px 0px 4px rgba($primary, 0.2);
  color: #fff;
}

.addProjectCategoryItem label {
  width: calc(100%);
  height: 48px;
  @extend %flex;
  @extend %icontext;
  cursor: pointer;
  padding-left: 16px;
}

// input[type="radio"] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   -o-appearance: none;
//   appearance: none;
//   width: 100%;
// }
input[type="radio"]:checked + .active {
  background-color: $primary;
  margin-left: -16px !important;
  color: #fff;
  width: calc(100% + 16px);
  padding-left: 16px;
  height: 48px;
  @extend %flex;
  border-radius: $radius_small;
  box-shadow: 0px 0px 0px 4px rgba($primary, 0.2);
}
