@import "../../sass/main.scss";
.settingsPaymentCard {
  @extend %flexvertical;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  padding: 24px;
  width: 100%;
  position: relative;
  gap: 30px;
  &-edit {
    position: absolute;
    top: 16px;
    right: 16px;
    @extend %subtext1;
    color: #000;
    @extend %flex;
    cursor: pointer;
    background-color: $softgray;
    padding: 8px 12px;
    border-radius: $radius_small;
    &:hover {
      background-color: $bordergray;
    }
    &-text {
      margin-left: 8px;
    }
  }
  &-fullwidth {
    width: 100%;
    @extend %flex;
    gap: 30px;
    &-one {
      @extend %flexvertical;
      align-items: flex-start;
      flex: 1;
      &-title {
        @extend %category;
        color: $gray;
      }
      &-text {
        @extend %category;
        width: 100%;
      }
    }
    &-item {
      @extend %flexvertical;
      align-items: flex-start;
      flex: 1;
      &-title {
        @extend %category;
        color: $gray;
      }
      &-text {
        @extend %category;
        width: 100%;
      }
    }
  }
}
