@import "../../sass/main.scss";
.profile {
  width: 1200px;
  margin: 0 auto;
  @extend %flex;
  align-items: flex-start;
  gap: 30px;
}

.profileContent {
  @extend %flexvertical;
  width: 820px;
  gap: 30px;
  &-container {
    @extend %flexvertical;
    box-shadow: $boxshadow;
    border-radius: $radius;
    background-color: #fff;
    align-items: flex-start;
    padding: 24px;
    &-heading {
      @extend %subtitle;
    }
    &-list {
      @extend %flex;
      margin-top: 24px;
      gap: 12px;
    }
  }
}
