@import "../../sass/main.scss";
.main {
  .container {
    .content {
      .list {
        .projectCardHorizontal {
          width: 100%;
          @include mq("tablet") {
            width: calc(100% - 50px);
          }
          &:first-child {
            margin-top: -12px;
          }
          margin-top: 30px;
          @include mq("tablet") {
            margin-top: 0px;
          }
          .actions {
            right: 0px;
            border-radius: 8px 0px 0px 8px;
            @include mq("tablet") {
              right: -100px;
              border-radius: 0px 8px 8px 0px;
            }
          }
        }
      }
    }
  }
}
