@import "../../sass/main.scss";
.requestCategoryItem {
  @extend %flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $softgray;
  width: 100%;
  justify-content: space-between;
  &-left {
  }
  &-right {
    &-vote {
      @extend %flexcenter;
      border: 1px solid $bordergray;
      padding: 4px 8px;
      border-radius: $radius;
      width: 80px;
      cursor: pointer;
      &:hover {
        background-color: $soft_purple;
      }
      &-icon {
        margin-top: 4px;
      }
      &-count {
        @extend %icontext;
        margin-left: 12px;
      }
    }
  }
  &-title {
    @extend %buttontext;
  }

  &-info {
    margin-top: 8px;
    @extend %flex;
    span::before {
      content: "•";
      margin-left: 12px;
      margin-right: 12px;
    }

    &-username {
      @extend %subtext1;
      color: $gray;
      &:first-child::before {
        content: "";
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    &-date {
      @extend %subtext1;
      color: $gray;
    }
    &-status {
      @extend %subtext1;
      color: $gray;
      @extend %flex;
      div {
        @extend %buttontext;
        background-color: #d4ebff;
        color: #2385df;
        padding: 4px 12px;
        border-radius: $radius_small;
      }
    }
  }
}
