@import "../../sass/main.scss";
.addProjectPart {
  background-color: #fff;
  @extend %flexvertical;
  align-items: flex-start;
  padding: 24px;
  box-shadow: $boxshadow;
  border-radius: $radius;
  width: 100%;
  &-heading {
    @extend %sidebar;
  }
  &-items {
    width: 100%;
    @extend %flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    @include mq("tablet") {
      gap: 30px;
      margin-top: 48px;
    }
  }
}
.addProjectPart1 {
  padding: 0px;
  box-shadow: none;
  &-button {
    margin-top: 48px;
    position: fixed;
    bottom: -2px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 80px;
    @extend %flex;
    gap: 30px;
    justify-content: center;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.1);
    @include mq("tablet") {
      position: unset;
      bottom: unset;
      left: unset;
      background-color: unset;
      width: 100%;
      height: unset;
      gap: 30px;
      justify-content: flex-end;
      padding-left: unset;
      padding-right: unset;
      box-shadow: unset;
    }
    button {
      background-color: $secondary;
      color: #fff;
      border-radius: $radius;
      cursor: pointer;
      width: 45%;
      height: 40px;
      box-shadow: $boxshadow;
      @extend %category;
      @extend %flexcenter;
      @include mq("tablet") {
        padding: 12px 36px;
        width: unset;
      }
      &:hover {
        background-color: $secondary_dark;
      }
    }
    .back {
      background-color: #fff;
      border: 1px solid $bordergray;
      color: #000;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}

.addProjectPart2 {
  padding: 0px;
  box-shadow: none;
}

.addProjectPart3 {
  padding: 0px;
  box-shadow: none;
  &-items {
    @extend %flexvertical;
    width: 100%;
    align-items: flex-start;
    margin-top: 24px;
    @include mq("tablet") {
      margin-top: 48px;
    }

    &-title {
      @extend %icontext;
      @include mq("tablet") {
        font-size: 1em;
      }
    }
    &-input {
      border: 1px solid $bordergray;
      width: 100%;
      height: 48px;
      background-color: $softgray;
      border-radius: $radius;
      padding-left: 16px;
      margin-top: 8px;
      @include mq("tablet") {
        margin-top: 16px;
      }

      &:focus {
        outline: 1px solid $primary;
        box-shadow: 0px 0px 0px 5px rgba($primary, 0.2);
      }
      &::placeholder {
        color: #737373;
        font-size: tagtext;
      }
    }
    &-inputcontainer {
      flex-direction: column;
      width: 100%;
      @extend %flex;
      align-items: flex-start;
    }
    &-button {
      background-color: $primary;
      min-height: 48px;
      min-width: 48px;

      border-radius: $radius;
      @extend %flexcenter;
      margin-left: 16px;
      cursor: pointer;
      svg {
        color: #fff;
      }
    }
    &-file {
      margin-top: 16px;
    }
    .textarea {
      width: 100%;
      height: 160px;
      padding-top: 16px;
    }
    .halfInput {
      width: 100%;
      @include mq("tablet") {
        width: 50%;
      }
    }
  }
}

.custom_select {
  position: relative;
  width: 100%;
  @include mq("tablet") {
    width: 50%;
  }
  .input {
    appearance: none;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 16px;
  }
}

.deneme2 {
  padding-right: 8px;
}

.secilen-ana {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.secildi {
  background-color: rgb(243, 243, 243);
  padding: 8px;
  display: flex;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
}
.secildi span {
  display: flex;
  align-items: center;
  height: 18px;
}
.closed-item {
  background-color: rgb(218, 218, 218);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  margin-left: 8px;
  transition: 0.4s;
  &:hover {
    background-color: rgb(190, 190, 190);
    transition: 0.4s;
  }
}
.onerilenler-container {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 64px;
  left: 0px;
  z-index: 10;
}
.onerilenler {
}

.acildi {
  cursor: pointer;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 8px;
  width: 100%;
}
.acildi:last-child {
  border-bottom: none;
}
.bakbu {
  display: flex;
  flex-direction: row;
  position: relative;
}
.leftbu {
  width: 50%;
  position: relative;
  .halfInput {
    width: 100%;
  }
}
.rightbu {
  width: 50%;
  padding: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.addProjectCategoryItem {
  background-color: $softgray;
  width: calc(100%);
  height: 48px;
  @extend %flex;
  @extend %icontext;
  border: 1px solid $bordergray;
  cursor: pointer;
  border-radius: $radius;
  @include mq("mobile") {
    width: calc(50% - 16px);
  }
  input[type="radio"] {
    display: none;
  }
}
.aktif {
  background-color: $primary;
  box-shadow: 0px 0px 0px 4px rgba($primary, 0.2);
  color: #fff;
}

.addProjectCategoryItem label {
  width: calc(100%);
  height: 48px;
  @extend %flex;
  @extend %icontext;
  cursor: pointer;
  padding-left: 16px;
}

// input[type="radio"] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   -o-appearance: none;
//   appearance: none;
//   width: 100%;
// }
input[type="radio"]:checked + .active {
  background-color: $primary;
  margin-left: -16px !important;
  color: #fff;
  width: calc(100% + 16px);
  padding-left: 16px;
  height: 48px;
  @extend %flex;
  border-radius: $radius_small;
  box-shadow: 0px 0px 0px 4px rgba($primary, 0.2);
}
