@import "../../sass/main.scss";
.userProjectList {
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  padding: 24px;
  width: 100%;

  &-heading {
    @extend %subtitle;
    margin-bottom: 12px;
  }
  &-list {
    @extend %flexvertical;
    flex-wrap: wrap;
    @include mq("tablet") {
      flex-direction: row;
    }
    @include mq("desktop") {
      flex-direction: column;
    }
    @include mq("large") {
      flex-direction: row;
    }
    gap: 12px;
    .projectSquareCard {
      border: 1px solid $bordergray;
    }
    .projectSquareCard {
      width: calc(50% - 6px);
    }
    .projectSquareCard:nth-child(2n-1):last-child {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
