@import "../../sass/main.scss";
.filterCard {
  width: 100%;
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  @extend %flexvertical;
  padding: 24px;
  align-items: flex-start;
  &-heading {
    font-size: 1.25em;
    font-weight: 500;
    @include mq("desktop") {
      font-size: 1.75em;
      font-weight: 600;
    }
  }
  &-filteritem {
    margin-top: 16px;
    @include mq("desktop") {
      margin-top: 48px;
    }
    &:nth-child(2) {
      // margin-top: 0px;
    }
    &-heading {
      font-size: 0.875em;
      font-weight: 600;
      margin-top: 8px;
      @include mq("desktop") {
        font-size: 1.15em;
      }
    }
    &-price {
      @extend %flex;
      margin-top: 16px;
      gap: 8px;
      &-item {
        @extend %flexvertical;
        align-items: flex-start;
        @extend %category;
        &:nth-child(2) {
        }
        @extend %flex;
        input {
          border: 1px solid #e5e5e5;
          background-color: #f9f9f9;
          border-radius: $radius_small;
          height: 32px;
          margin-top: 12px;
          padding-left: 12px;
          width: 100%;
          &::placeholder {
            @extend %text;
            font-family: sans-serif;
          }
        }
        span {
          @extend %icontext;
          @include mq("desktop") {
            font-size: 1em;
            font-weight: 600;
          }
        }
      }
    }

    .hizmetturu {
      margin-top: 16px;
      @extend %flexvertical;
      align-items: flex-start;
      gap: 8px;
    }

    .nopoint {
      svg {
        color: $footer !important;
      }
    }
  }
  &-button {
    width: 100%;
    background-color: $primary;
    @extend %flexcenter;
    border-radius: $radius;
    margin-top: 48px;
    cursor: pointer;
    color: $white;
    padding: 12px 0px;
    font-size: 0.875em;
    @extend %icontext;

    @include mq("desktop") {
      font-size: 1em;
    }
  }
  .form-item {
    @extend %flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
// ------------------------
.custom_checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  @extend %flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend %subtext1;
  font-weight: 400;
  @include mq("desktop") {
    font-size: 0.875em;
    font-weight: 500;
  }
  svg {
    color: $orange;
    margin-right: 8px;
  }
  .checkbox-text {
    line-height: 1;
    margin-top: 2px;
  }
}
.custom_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: $radius_small;
  outline: 2px solid #ddd;
}
.custom_checkbox:hover input ~ .checkmark {
  outline: 2px solid $primary;
}
.custom_checkbox input:checked ~ .checkmark {
  background-color: $primary;
  outline: 2px solid $primary;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom_checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// ------------------------
.radiobutton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend %flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend %subtext1;
  font-weight: 400;
  @include mq("desktop") {
    font-size: 0.875em;
    font-weight: 500;
  }
}
.radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmarkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  outline: 2px solid #ddd;
}
.radiobutton:hover input ~ .checkmarkradio {
  outline: 2px solid $primary;
}
.radiobutton input:checked ~ .checkmarkradio {
  background-color: $primary;
  outline: 2px solid $primary;
}
.checkmarkradio:after {
  content: "";
  position: absolute;
  display: none;
}
.radiobutton input:checked ~ .checkmarkradio:after {
  display: block;
}
.radiobutton .checkmarkradio:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}
