@import "../../sass/main.scss";

.showMore {
  width: 100%;
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  padding: 24px;
  @extend %flexvertical;
  flex-direction: column-reverse;
  justify-content: space-between;
  @include mq("tablet") {
    flex-direction: row;
  }
  &-summary {
    @extend %icontext;
    color: $gray;
    flex: 1;
    margin-top: 12px;

    @include mq("tablet") {
      margin-top: 0px;
    }
  }
  &-button {
    height: 42px;
    border-radius: $radius;
    background-color: #171e2c;
    @extend %flexcenter;
    cursor: pointer;
    padding: 8px 12px;
    flex: 1;

    &-text {
      @extend %icontext;
      width: max-content;
      color: #fff;
    }
    &-icon {
      color: #fff;
      margin-left: 12px;
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .empty {
    flex: 1;
  }
}
