@import "../../sass/main.scss";

.orderProcess {
  background-color: $soft_purple;
  box-shadow: $boxshadow;
  border-radius: $radius;
  width: 100%;
  height: 228px;
  @extend %flexvertical;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  svg {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 240px;
    height: 180px;
  }
  &-title {
    @extend %buttontext;
  }
  &-desc {
    @extend %text;
    margin-top: 24px;
    width: 60%;
  }
  &-date {
    margin-top: auto;
    @extend %flex;
    svg {
      color: $gray;
      position: relative;
      width: 16px;
      height: 16px;
      right: inherit;
      top: -2px;
    }
    span {
      margin-left: 8px;
      @extend %category;
      color: $gray;
    }
  }
}

.purple {
  background-color: $soft_purple;
}
.yellow {
  background-color: $soft_yellow;
}
.green {
  background-color: $soft_green;
}
