@import "../../sass/main.scss";

.aboutCard {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: $boxshadow;
  &-heading {
    @extend %sidebar;
  }
  &-text {
    margin-top: 16px;
    @extend %tagtext;
  }
}
