@import "../../sass/main.scss";
.messagesSearchCard {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: #fff;
  padding: 16px;
  box-shadow: $boxshadow;
  border-bottom: 1px solid $bordergray;

  input {
    border: 2px solid $bordergray;
    width: 100%;
    height: 48px;
    border-radius: $radius;
    padding-left: 36px;
  }
  svg {
    position: absolute;
    top: 32px;
    left: 28px;
    color: $gray;
  }
}
