@import "../../sass/main.scss";

.offer {
  background-color: #fff;
  padding: 24px;
  width: 100%;
  box-shadow: $boxshadow;
  border-radius: $radius;
  &-header {
    @extend %flex;
    width: 100%;
    &-photo {
      width: 48px;
      height: 48px;
      border-radius: $radius;
      @include mq("tablet") {
        width: 64px;
        height: 64px;
      }
    }
    &-profile {
      margin-left: 12px;
      &-username {
        @extend %category;
      }
      &-rating {
        @extend %category;
        @extend %flex;
        color: $gray;
        margin-top: 4px;
        span {
          @extend %icontext;
          margin-left: 8px;
          display: none;
          @include mq("mobile") {
            display: block;
          }
        }
        svg {
          color: $orange;
          margin-right: 8px;
          margin-top: -4px;
        }
      }
    }
    &-price {
      font-size: 28px;
      font-weight: 600;
      margin-left: auto;
    }
  }
  &-detail {
    @extend %text;
    margin-top: 24px;
  }
}
