@import "../../sass/main.scss";

.orderStatus {
  background-color: $secondary;
  width: 100%;
  border-radius: $radius;
  box-shadow: $boxshadow;
  color: #fff;
  @extend %flexvertical;
  align-items: flex-start;
  padding: 24px;
  padding-left: 56px;
  justify-content: space-between;
  background-image: url("../../icons/bubble.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  position: relative;

  @include mq("mobile") {
    height: 100px;
    flex-direction: row;
  }
  &-left {
    @extend %flexvertical;
    align-items: flex-start;
    &-heading {
      @extend %sidebar;
    }
    &-text {
      @extend %icontext;
      margin-top: 8px;
    }
  }
  &-right {
    margin-top: 24px;
    @extend %flexvertical;
    align-items: flex-start;
    @include mq("mobile") {
      align-items: flex-end;
      margin-top: 0px;
    }
    &-title {
      @extend %icontext;
    }
    &-text {
      @extend %buttontext;
      margin-top: 4px;
    }
  }
}
