@import "../../../sass/main.scss";

.footer {
  background-color: $dark;
  margin-top: 48px;
  &-top {
    @include mq("tablet") {
    }
    @include mq("desktop") {
    }
    @include mq("large") {
      padding-left: 170px;
      padding-right: 170px;
    }
    &-boxes {
      @extend %flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 48px;
      padding-bottom: 48px;
      align-items: flex-start;
      @include mq("tablet") {
        flex-direction: row;
      }
      @include mq("desktop") {
        flex-direction: row;
      }
      &-box {
        color: $white;
        padding: 24px;
        @extend %flexvertical;
        align-items: flex-start;
        // flex: 1;
        width: 100%;
        &:nth-child(5) {
          display: block;
        }
        @include mq("mobile") {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
          width: 33%;
        }
        @include mq("tablet") {
          &:nth-child(1) {
            display: block;
          }
          width: 25%;
        }
        @include mq("desktop") {
          width: 25%;
          &:nth-child(1) {
            display: block;
          }
        }
        @include mq("large") {
          width: 20%;
          &:nth-child(5) {
            display: block;
          }
        }
        &-logo {
          a {
            @extend %title;
            color: $white;
          }
        }
        &-socialmedia {
          @extend %flex;
          gap: 24px;
          margin-top: 24px;
          &-item {
            cursor: pointer;
            svg {
              width: 24px;
              height: 24px;
              color: #fff;
            }
          }
        }
        &-heading {
          @extend %sidebar;
        }
        &-list {
          margin-top: 16px;
          &-item {
            margin-top: 12px;
            @extend %tagtext;
            color: $footer;
          }
        }
        &-download {
          &-item {
            svg {
              width: 150px;
              height: 45px;
            }
            &:first-child {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    margin: 0 auto;
    color: $footer;
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(#848484, 0.2);
    padding: 24px;

    @include mq("tablet") {
      flex-direction: row;
    }
    @include mq("desktop") {
    }
    @include mq("large") {
      width: 1200px;
      padding-left: 0px;
      padding-right: 0px;
    }
    &-left {
      &-list {
        @extend %flexvertical;
        @include mq("mobile") {
          flex-direction: row;
        }
        &-item {
          @extend %subtext1;
          &:nth-child(3)::after {
            padding-left: 0px;
            padding-right: 0px;
          }
          &::after {
            content: "";
            padding-left: 0px;
            padding-right: 0px;
          }
          @include mq("mobile") {
            &::after {
              content: "•";
              padding-left: 16px;
              padding-right: 16px;
            }
          }

          &:last-child::after {
            content: "";
          }
        }
      }
    }
    &-right {
      @extend %subtext1;
      margin-top: 12px;
      @include mq("tablet") {
        margin-top: 0px;
      }
    }
  }
}
