@import "../../sass/main.scss";
.commentCard {
  background-color: #fff;
  padding: 24px;
  width: 100%;
  box-shadow: $boxshadow;
  border-radius: $radius;
  &-heading {
    @extend %subtitle;
  }
  &-summary {
    margin-top: 24px;
    &-boxes {
      @extend %flex;
      flex-wrap: wrap;
      gap: 16px;
      &-box {
        border: 1px solid $bordergray;
        @extend %flexvertical;
        align-items: flex-start;
        height: 145px;
        flex: 1;
        border-radius: $radius;
        padding: 16px;
        &:nth-child(1) {
          background-color: $soft_purple;
        }
        &:nth-child(2) {
          background-color: $soft_yellow;
        }
        &:nth-child(3) {
          background-color: $soft_green;
        }
        &:nth-child(4) {
          background-color: $soft_blue;
          @extend %flexcenter;
        }
        &-icon {
          width: 48px;
          height: 48px;
          background-color: #fff;
          @extend %flexcenter;
          border-radius: 16px;
          box-shadow: 0px 5px 5px 0px rgba(#000000, 0.1);
          svg {
            width: 32px;
            height: 32px;
            color: $gray;
          }
        }
        &-title {
          margin-top: 16px;
          @extend %icontext;
          color: $gray;
        }
        &-rating {
          margin-top: 8px;
        }
        &-text {
          width: 100%;
          text-align: center;
          font-weight: 400;
          @extend %icontext;
          span {
            text-align: center;
            @extend %buttontext;
          }
        }
        &-sum {
          width: 100%;
          font-size: 30px;
          font-weight: 700;
          margin-top: 8px;
          text-align: center;
        }
      }
    }
  }
  &-list {
    &-item {
      @extend %flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 24px;
      padding-top: 24px;
      padding-bottom: 0px;
      border-top: 1px solid $bordergray;
      @include mq("tablet") {
        flex-direction: column;
      }
      @include mq("desktop") {
        flex-direction: column;
      }
      @include mq("large") {
        flex-direction: row;
      }
      &:last-child {
        padding-bottom: 0px;
      }
      &-left {
        @extend %flexvertical;
        align-items: flex-start;
        flex: 1;
        &-container {
          display: flex;
        }
        img {
          width: 48px;
          height: 48px;
          border-radius: $radius;
        }
        &-profile {
          margin-left: 12px;
          &-name {
            @extend %buttontext;
            color: $primary;
          }
          &-location {
            @extend %tagtext;
            color: $gray;
          }
        }
      }
      &-right {
        @extend %flexvertical;
        gap: 16px;
        align-items: flex-start;
        width: 100%;
        flex: 2;
        &-info {
          height: 48px;
          @extend %flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 12px;
          @include mq("large") {
            margin-top: 0px;
          }
          &-date {
            @extend %subtext1;
            color: $gray;
          }
        }
        &-category {
          margin-top: 36px;
          margin-right: 24px;
          background-color: $soft_purple;
          @extend %icontext;
          @extend %flexvertical;
          align-items: flex-start;
          padding: 8px 12px;
          border-radius: $radius;
          &-heading {
            @extend %tagtext;
            color: $gray;
          }
        }

        &-text {
          @extend %tagtext;
        }
        &-tags {
          @extend %flex;
          &-item {
            @extend %icontext;
            color: $primary;
            &:hover {
              color: $primary_dark;
            }
            &::before {
              content: "•";
              padding-left: 12px;
              padding-right: 12px;
            }
            &:first-child::before {
              content: "";
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
}
