@import "../../sass/main.scss";

.sendOffer {
  .container {
    display: flex;
    flex-direction: column !important;
    @include mq("desktop") {
      flex-direction: row !important;
    }
    .sidebar {
      display: flex;
      position: unset;
    }
  }
}
