@import "../../sass/main.scss";
.projectSummaryCards {
  @extend %flexvertical;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: $boxshadow;
  padding: 24px;
  width: 100%;
  position: relative;
  gap: 16px;
  &-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    @include mq("tablet") {
      flex-direction: row;
      align-items: center;
    }
    &-left {
      display: flex;
      flex-direction: column;
      gap: 12px;
      min-width: 350px;
      max-width: 350px;
      &-project {
        display: flex;
        flex-direction: column;
        &-heading {
          @extend %subtext1;
          color: $gray;
        }
        &-title {
          @extend %category;
        }
      }
    }
    &-date {
      @extend %flex;
      min-width: 150px;
      max-width: 150px;
      margin-top: 12px;
      @include mq("tablet") {
        margin-top: 0px;
      }
    }
    &-info {
      @extend %flexvertical;
      align-items: flex-start;
      &-title {
        @extend %subtext1;
        color: $gray;
      }
      &-text {
        @extend %buttontext;
      }
    }
    &-price {
      @extend %title;
      min-width: 120px;
      max-width: 120px;
      margin-top: 12px;
      @include mq("tablet") {
        margin-top: 0px;
      }
    }

    &-arrow {
      transition: margin-left 0.5s;
      cursor: pointer;
      border: 2px solid #000;
      padding: 4px;
      min-height: 36px;
      max-height: 36px;
      min-width: 36px;
      max-width: 36px;
      @extend %flexcenter;
      border-radius: $radius;
      transition: 0.5s right;
      display: none;
      @include mq("tablet") {
        display: flex;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    @include mq("tablet") {
      flex-direction: row;
    }
    justify-content: space-between;
    width: 100%;
    &-profile {
      @extend %flex;
      &-photo {
        width: 42px;
        height: 42px;
        border-radius: $radius;
      }
      &-info {
        @extend %flexvertical;
        align-items: flex-start;
        margin-left: 12px;
        &-title {
          @extend %subtext1;
          color: $gray;
        }
        &-text {
          @extend %buttontext;
        }
      }
    }
    &-status {
      background-color: $secondary_soft;
      color: $secondary;
      padding: 4px 24px;
      @extend %subtext2;
      @extend %flexcenter;
      border-radius: $radius_small;
      cursor: pointer;
      height: 40px;
      margin-top: 12px;
      @include mq("desktop") {
      }
      @include mq("large") {
        margin-top: unset;
      }
    }
    &-statusv2 {
      &-green {
        @extend %flexcenter;
        background-color: $secondary;
        color: #fff;
        @extend %category;
        height: 36px;
        padding: 4px 16px;
        border-radius: $radius;
      }
      &-orange {
        background-color: rgb(244, 87, 34);
        @extend %flexcenter;
        color: #fff;
        @extend %category;
        height: 36px;
        padding: 4px 16px;
        border-radius: $radius;
      }
    }
  }

  border: 2px solid transparent;
  transition: 0.5s border;
  &:hover {
    .ProjectOfferCard-arrow {
      transition: 0.5s right;
      // position: absolute;
      // right: 16px;
    }
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    transition: 0.5s border;
  }
  &-ratingcontrol {
    background-color: $red_soft;
    color: $red;
    @extend %subtext1;
    @extend %flexcenter;
    height: 36px;
    padding: 8px 16px;
    border-radius: $radius;
    position: absolute;
    right: 24px;
    top: -24px;
  }
}
