@import "../../sass/main.scss";

.rightSidebar {
  &-heading {
    @extend %subtitle;
    margin-top: 18px;
  }
  &-projects {
    @extend %flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .projectSquareCard {
      width: calc(50% - 15px);
    }
  }
  &-mentors {
    @extend %flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .mentorCard {
      width: calc(25% - 24px);
    }
  }
}
