@import "../../sass/main.scss";
.leftMenu {
  left: 0px;
  top: -12px;
  @extend %subtext1;
  button {
    font-size: 0px !important;
    &::after {
      content: "Menü";
      font-size: 16px;
      font-weight: 600;
      padding-left: 36px;
    }
  }
  .bm-menu-wrap {
    left: 0px;
  }
}

.homepage {
  .container {
    .sidebar {
      position: sticky;
      top: 24px;
      left: 0px;
      display: none;
      @include mq("desktop") {
        display: flex;
      }
    }
  }
}
.main {
  .deneme {
    background-color: red;
  }
  .container {
    // flex-direction: column !important;
    // .sidebar {
    //   margin-top: 0px;
    //   svg {
    //     cursor: pointer;
    //     display: flex;
    //     @include mq("tablet") {
    //       display: none;
    //     }
    //   }
    // }
  }
  .content {
    gap: 30px !important;
    position: relative;
    .bm-menu-wrap {
      left: 0px;
    }
    .bm-menu {
      background-color: #fff;
      width: 100%;
    }
  }
  .navLeftMenu {
    display: block;
    position: relative;
    @include mq("desktop") {
      display: none;
    }
  }

  &-heading {
    @extend %subtitle;
  }
  &-projects {
    @extend %flexvertical;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    @include mq("tablet") {
      flex-direction: row;
    }
    @include mq("desktop") {
      flex-direction: column;
    }
    @include mq("large") {
      flex-direction: row;
    }
    .projectSquareCard {
      width: 100%;
      @include mq("tablet") {
        width: calc(50% - 15px);
      }
      @include mq("desktop") {
        width: 100%;
      }
      @include mq("large") {
        width: calc(50% - 15px);
      }
    }
  }
  &-mentors {
    @extend %flex;
    gap: 30px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    @include mq("tablet") {
      max-width: unset;
      overflow: unset;
      scroll-snap-type: unset;
      -webkit-overflow-scrolling: unset;
      flex-wrap: wrap;
    }

    .mentorCard {
      @include mq("tablet") {
        width: calc(50% - 15px);
        margin-bottom: 0px;
      }
      @include mq("large") {
        width: calc(25% - 23px);
      }
    }
  }
}
