@import "../../sass/main.scss";
.settingsGeneralCard {
  @extend %flex;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  padding: 24px;
  width: 100%;
  position: relative;
  &-edit {
    position: absolute;
    top: 16px;
    right: 16px;
    @extend %subtext1;
    color: #000;
    @extend %flex;
    cursor: pointer;
    background-color: $softgray;
    padding: 8px 12px;
    border-radius: $radius_small;
    &:hover {
      background-color: $bordergray;
    }
    &-text {
      margin-left: 8px;
    }
  }
  &-left {
    &-photo {
      width: 180px;
      height: 180px;
      border-radius: $radius;
    }
  }
  &-right {
    @extend %flexvertical;
    align-items: flex-start;
    margin-left: 30px;
    gap: 30px;
    width: 100%;
    &-heading {
      width: 100%;
      @extend %flex;
      justify-content: space-between;
      &-username {
        @extend %sidebar;
      }
    }
    &-fullname {
      @extend %buttontext;
      width: 100%;
    }
    &-about {
      @extend %text;
      width: 100%;
    }
    &-item {
      @extend %flexvertical;
      align-items: flex-start;
      width: 100%;
      &-title {
        @extend %category;
        font-weight: 500;
        color: $gray;
      }
      &-text {
        @extend %category;
        font-weight: 500;
        margin-top: 8px;
        width: 100%;
      }
    }
    &-buttons {
      width: 100%;
      justify-content: flex-end;
      @extend %flex;
      gap: 24px;
      &-cancel {
        border: 2px solid #000;
        height: 50px;
        width: 130px;
        border-radius: $radius_small;
        @extend %flexcenter;
        cursor: pointer;
        @extend %category;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      &-save {
        background-color: $secondary;
        height: 50px;
        width: 130px;
        border-radius: $radius_small;
        @extend %flexcenter;
        cursor: pointer;
        color: #fff;
        &:hover {
          background-color: $secondary_dark;
        }
      }
    }
  }
}
