@import "../../sass/main.scss";
.priceCard {
  width: 100%;
  @extend %flexvertical;
  background-color: $primary;
  position: fixed;
  bottom: 0px;
  padding: 24px;
  left: 0px;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  border-top: 2px solid $primary;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  @include mq("desktop") {
    position: relative;
    background-color: rgba(#ffffff, 0.5);
    height: auto;
    flex-direction: column;
    border: 2px dashed $secondary;
    box-shadow: none;
  }
  &-heading {
    @extend %buttontext;
    display: none;
    @include mq("desktop") {
      display: block;
    }
  }
  &-price {
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    @extend %flexvertical;
    align-items: flex-start;
    @include mq("desktop") {
      color: $secondary;
      margin-top: 12px;
      font-size: 36px;
    }
    &-mobiletext {
      font-size: 12px;
      @include mq("desktop") {
        display: none;
      }
    }
  }
  &-button {
    cursor: pointer;
    background-color: #fff;
    @extend %buttontext;
    @extend %flexcenter;
    padding: 12px 36px;
    color: $primary;
    border-radius: $radius;
    width: 50%;
    border: 2px solid #fff;
    @include mq("desktop") {
      background-color: $secondary;
      color: #fff;
      margin-top: 12px;
      width: 80%;
    }
    &:hover {
      background-color: $softgray;
      color: $primary_dark;
      @include mq("desktop") {
        background-color: $secondary_dark;
        color: #fff;
      }
    }
  }
}
