@import "../../sass/main.scss";
.settingsToolCard {
  @extend %flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: $boxshadow;
  border-radius: $radius;
  padding: 24px;
  width: 100%;
  position: relative;
  &-list {
    @extend %flexvertical;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    &-item {
      width: 50%;
      height: 48px;
      background-color: $softgray;
      @extend %flex;
      border-radius: $radius;
      @extend %subtext2;
      padding: 8px 12px;
      &-name {
        width: 100%;
        input[type="text"] {
          margin-top: 0px;
          height: 36px;
        }
      }
    }
  }
}
